/* Cấu trúc chung cho form */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('/IMG/Nen-Login.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.input-group label[for="remember-me"] {
    display: inline-block;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #a00000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}

.switch-form {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.switch-form a {
    color: #a00000;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}
